.form {
  margin: auto;
  width: fit-content;
  padding: 64px;
  border-radius: 16px;
  text-align: start;
}

.form h1 {
  margin-bottom: 1em;
}

.form input {
  min-width: 40ch;
}

.form button {
  margin-top: 2em;
}
