.add {
  border: 3px dotted var(--muted-foreground);
}

.add > div,
.add > form {
  padding: 20px;
}

.add > div {
  font-size: 200%;
  color: var(--muted-foreground);
  text-align: center;
}

.addForm > textarea {
  width: 100%;
}

.addForm > h2 {
  margin-top: 0;
}
