.header {
  position: sticky;
  display: flex;
  padding: 8px 4%;
  border-bottom: 1px solid var(--primary);
}

.nav {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav a {
  font-size: 120%;
  color: var(--forground);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  outline-offset: 4px;
}

.nav a:hover,
.nav a:focus {
  border-color: var(--muted);
}

.buttonsContainer {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 2%;
}

#login {
  padding: 1rem 2rem;
  color: var(--foreground);
  background: var(--background);
  border-color: var(--primary);
}
