.stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stack > div {
  cursor: pointer;
  vertical-align: middle;
  text-align: start;
}

.forSelected {
  border-width: 2px;
  border-color: #e260a7;
}

.againstSelected {
  border-width: 2px;
  border-color: #5fdf67;
}
