.stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stack > div {
  cursor: pointer;
  vertical-align: middle;
  text-align: start;
  z-index: 0;
}

.forSelected {
  border-width: 2px;
  border-color: #e260a7;
}

.againstSelected {
  border-width: 2px;
  border-color: #5fdf67;
}

.controlButtons {
  display: flex;
  gap: 5px;
}

.editButton {
  padding: 5px;
  color: var(--primary);
  background-color: transparent;
}

.removeButton {
  display: none;
  font-size: 0.8rem;
  padding: 5px;
  border: none;
  z-index: 1;
}

.showRemoveButton button {
  display: inline;
}
